@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [class="light"] {
    --bg: hsl(236, 33%, 92%);
    --text: hsl(235, 19%, 35%);
    --input: hsl(0, 0%, 98%);
    --footertext: hsl(236, 9%, 61%);
    --hovertext: hsl(235, 19%, 35%);
  }

  [class="dark"] {
    --bg: hsl(235, 21%, 11%);
    --text: hsl(233, 11%, 84%);
    --input: hsl(235, 24%, 19%);
    --footertext: hsl(234, 11%, 52%);
    --hovertext: hsl(236, 33%, 92%);
  }
}

@layer components {
  .wrapper {
    background-color: var(--input) !important;
    @apply rounded-sm;
  }
  .checkbox {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 1em;
  }
  .text-filter {
    color: var(--footertext);
    @apply mx-1 cursor-pointer text-sm;
  }
  .text-filter:hover {
    color: var(--hovertext);
  }
  .image {
    display: none;
  }
  .todo:hover .image {
    display: flex;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-weight: 700;
  font-family: Josefin, sans-serif;
  transition: all 0.5s ease-out;
}

* {
  box-sizing: border-box;
}

input {
  background-color: var(--input);
}

input:checked {
  background: url("../images/icon-check.svg"),
    linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center;
}

.light body .background {
  background: url("../images/bg-desktop-light.jpg") no-repeat;
  background-size: cover;
  width: 100vw;
  height: 40vh;
}
.dark body .background {
  background: url("../images/bg-desktop-dark.jpg") no-repeat;
  background-size: cover;
  width: 100vw;
  height: 40vh;
}

@media (max-width: 520px) {
  .md {
    width: 90%;
  }
  .mdinput {
    width: 100%;
  }
  .light body .background {
    background: url("../images/bg-mobile-light.jpg") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 40vh;
  }
  .dark body .background {
    background: url("../images/bg-mobile-dark.jpg") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 40vh;
  }
  .filterdata {
    display: none;
  }
  .displayfilterdata {
    display: flex;
  }
}
